.paper_entity {
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    height: calc(96vh - 64px);
}

.header-container_entity {
    margin-bottom: 16px;
        position: sticky;
        top: 0;
        z-index: 1000;
        padding-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.table-container_entity {
    flex-grow: 1;
    overflow-y: auto;
    height: calc(100vh - 200px);
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.table-pagination_entity {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(96vh - 64px);
}
