.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content-app {
  display: flex;
  /* height: calc(100vh - 64px); */
  /* margin-top: 64px; */
  /* Altura da navbar */
  overflow: hidden;
}

.content-app {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

/* Responsivo */
@media (max-width: 768px) {
  .content-app {
    padding: 12px;
  }
}