/* CreateEntity.css */
.paper_entitycreate {
    padding: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.entity-create-container {
    margin-top: 20px;
}

.entity-create-box {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.entity-create-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.entity-create-box .MuiGrid-container {
    margin-bottom: 20px;
}

.entity-create-box .MuiTypography-h6 {
    margin-top: 20px;
}

.entity-create-actions .MuiButton-root {
    margin-left: 10px;
}

.MuiOutlinedInput-root.valid-nif .MuiOutlinedInput-notchedOutline {
    border-color: green;
}

.MuiOutlinedInput-root.invalid-nif .MuiOutlinedInput-notchedOutline {
    border-color: red;
}