.navbar {
    background-color: #fff;
    color: #000;
}

.navbar-toolbar {
    display: flex;
    justify-content: space-between;
}

.navbar-logo-container {
    cursor: pointer;
}

.navbar-logo {
    height: 40px;
}

.navbar-avatar {
    margin-left: 15px;
}

.navbar-username {
    margin-left: 10px;
    cursor: pointer;
}

.snackbar-message {
    color: #fff;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}